:root {
    /* Primary colors */
    --clr-orange: hsl(26, 100%, 55%);
    --clr-pale-orange: hsl(25, 100%, 94%);

    /* neutral colors */
    --clr-very-dark-blue: hsl(220, 13%, 13%);
    --clr-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr-grayish-blue: hsl(220, 14%, 75%);
    --clr-light-grayish-blue: hsl(223, 64%, 98%);
    --clr-white:hsl(0, 0%, 100%);
    --clr-black-75: hsla(0, 0%, 0%, 0.75); /* used for lightbox background */

    /* typography*/
    --ff-base: 'Kumbh Sans', sans-serif;
    --ff\s-base: 16px;
    --fw-regular: 400;
    --fw-bold: 700;

    /* layout */
    --mobile-width: 375px;
    --desktop-width: 1440px;
} 

body {
    font-family: var(--ff-base);
    font-size: var(--ff-base);
    color: var(--clr-dark-grayish-blue);
    background: var(--clr-white);

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    /* background-color: blueviolet; */
}

.hidden {
    display: none !important;
}


.mobile-header {
    display: none;
}

#mobile-menu {
    display: none;
}

#overlay {
    display: none;
    position:fixed;
    inset: 0;
    background-color: white;
    backdrop-filter: blur;
}

.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  border-bottom: 1px solid var(--clr-grayish-blue);
  height: 5rem;
}

.desktop-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.desktop-left nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--ff-base);
}

.desktop-left nav ul li a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

.desktop-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.desktop-right #avatar-d {
    height: 50px;
    width: 50px;
}

.cart {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.cart img {
    display: block;
    width: 23px;
    height: auto;
}

.product-layout {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    padding: 4rem;
    margin: 80px auto;
    align-items: flex-start;
    justify-content: flex-start;
    /* background-color: blue; */
    flex-wrap: nowrap;
}


.product-gallery {
    flex: 1;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: brown; */
}

.product-gallery .main-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 2rem;
    cursor: pointer;
}

.thumbnails img,
.lightbox-thumbnails img {
    display: flex;
    flex-direction: row;
    width: 88px;
    height: auto;
    cursor: pointer;
    border-radius: 0.5rem;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    flex-wrap: nowrap;
}

.thumbnails,
.lightbox-thumbnails {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.product-info {
    flex: 1;
    min-width: 0;
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
    margin-top:-30px;
    padding: 3rem 1rem;
    /* background-color: orange; */
    line-height: 1;
}

.product-info h4 {
    margin-bottom: 0;
    font-size: .85rem;
}

.product-info p {
    margin-top: 0;
    line-height: 1.5;
}

h1 {
    margin-top: 20px;;
    margin-bottom: 10px;
    font-size: 42px;
    color: var(--clr-black-75);
    margin-bottom: 40px;
}

.price-info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 0;
    /* background-color: red; */
}

.price-info h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* font-size: 1.8rem; */
    color: var(--clr-black-75);
}

.price-info h3 {
    font-size: 0.95rem;
}

#discount {
    background: var(--clr-black-75);
    color: var(--clr-white);
    padding: 5px 6px 0 7px;
    border-radius: 4px;
    width: 30px;
    height: 20px;
    margin-top: 25px;
}

#line-through {
    margin-top: 0;
    margin-bottom: 40px;
    text-decoration: line-through;
    color: var(--clr-dark-grayish-blue);
    /* background-color: aquamarine; */
}

#order-controls {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#counter {
    display: flex;
    flex-direction: row;
    background: var(--clr-light-grayish-blue);
    border: none;
    width: 150px;
    height: 50px;
    justify-content: space-between;
    border-radius: 1rem;
    padding-bottom: 0.25rem;
}

#count {
    
    font-weight: var(--fw-bold);
    color: var(--clr-black-75);
   
}

#plus,
#minus {
    /* width: 50px; */
    border: none;
    background-color: transparent;
    /* background-color: pink; */
    padding: 5px 5px 5px 5px;
    /* transform: translateY(-1px); */
    border-radius: 0;
    cursor: pointer;
}

.add-to-cart {
    background-color: var(--clr-orange);
    width: 250px;
    border: none;
    border-radius: .65rem;
    color: var(--clr-black-75);
    font-weight: var(--fw-bold);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem 1rem;
    cursor: pointer;
}

.add-to-cart img {
    filter: brightness(0);
    width: 16px;
    height: auto;
}

.lightbox {
    display: none;
    position: fixed;
    top: 300px;
    left: 100px;
    /* top: 0; */
    /* left: 0; */
    width: 40%;
    height: 40%;
    background-color: var(--clr-black-75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox.hidden {
    display: none;
}

.lightbox-content {
    position: relative;
    background: var(--clr-white);
    padding: 1rem;
    max-width: 600px;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.lightbox img {
    width: 60%;
    height: auto;
}

.lightbox .prev,
.lightbox .next,
.lightbox .lightbox-close {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--clr-white);
    position: absolute;
    cursor: pointer;
}

.lightbox .prev {
    left: -2rem;
    top: 50%;
}

.lightbox .next {
    right: -2rem;
    top: 50%;
}

.lightbox .lightbox-close {
    top: 1rem;
    right: 1 rem;
}

.lightbos-thumbnails {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

@media (max-width: 799px) {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex; /* or block, depending on your layout */
    justify-content: space-between;
    align-items: center;
  }
}