:root {
    /* Primary colors */
    --clr-orange: hsl(26, 100%, 55%);
    --clr-pale-orange: hsl(25, 100%, 94%);

    /* neutral colors */
    --clr-very-dark-blue: hsl(220, 13%, 13%);
    --clr-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr-grayish-blue: hsl(220, 14%, 75%);
    --clr-light-grayish-blue: hsl(223, 64%, 98%);
    --clr-white:hsl(0, 0%, 100%);
    --clr-black-75: hsla(0, 0%, 0%, 0.75); /* used for lightbox background */

    /* typography*/
    --ff-base: 'Kumbh Sans', sans-serif;
    --ff\s-base: 16px;
    --fw-regular: 400;
    --fw-bold: 700;

    /* layout */
    --mobile-width: 375px;
    --desktop-width: 1440px;
} 

body {
    font-family: var(--ff-base);
    font-size: var(--ff-base);
    color: var(--clr-dark-grayish-blue);
    background: var(--clr-white);

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.hidden {
    display: none !important;
}


.mobile-header {
    display: none;
}

#mobile-menu {
    display: none;
}

#overlay {
    display: none;
    position:fixed;
    inset: 0;
    background-color: white;
    backdrop-filter: blur;
}

.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  border-bottom: 1px solid var(--clr-grayish-blue);
  height: 5rem;
}

.desktop-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.desktop-left nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--ff-base);
}

.desktop-left nav ul li a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

.desktop-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.desktop-right #avatar-d {
    height: 50px;
    width: 50px;
}

.cart {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.cart img {
    display: block;
    width: 23px;
    height: auto;
}



@media (max-width: 799px) {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex; /* or block, depending on your layout */
    justify-content: space-between;
    align-items: center;
  }
}